<h2> User List </h2>

<div id="users">
<% for user in @users %>
	<div class="user">
	<p><strong><%= h user.email %> </strong>
	<%= link_to 'Add Friend',  friendships_path(:friend_id => user), method: :post, class: 'btn btn-default' %>
	</p>
	</div>
<% end %>
</div>